@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

input, select, button {
  border: none;
  outline: none;
  background: transparent;
}

b {
  font-weight: 500;
}

.btn {
  padding: 7px 30px;
  color: #fff;
  background: #156963;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background: #1b8b84;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5vh 5vw;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
}

nav img {
  height: 50px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li {
  cursor: pointer;
}

nav ul li:not(:last-child) {
  margin-right: 30px;
}

nav.bg {
  padding: 10px 5vw;
  background: #fff;
}

.head {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head_img-bx img {
  height: 100vh;
}

.head_text {
  padding-left: 5vw;
  height: 100%;
}

.head_text h2 {
  font-size: 3em;
  color: #156963;
}

.head_text-btn {
  margin-top: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head_text-btn span {
  cursor: pointer;
  width: 50%;
  padding: 30px;
}

.head_text-btn span:last-child {
  background: #156963;
  color: #fff;
}

.head_text-btn span:last-child h4 {
  color: #bebebe;
}

.head_text-btn span h4 {
  margin-bottom: 10px;
  font-weight: 400;
  color: #333;
}

.sec1 {
  min-height: 100vh;
  padding: 5vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec1-bx {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.sec1-bx p {
  margin-top: 10px;
  color: #000000b4;
  text-indent: 5px;
}

.sec1_plants {
  width: 100%;
  margin-top: 100px;
}

.sec1_plants-head {
  padding: 10px 0;
  width: 100%;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 3px 0 #f1f1f1;
          box-shadow: 0 3px 0 #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec1_plants-cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.sec1_plants-cards .card {
  position: relative;
  top: 0;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sec1_plants-cards .card-img {
  background: #f1f1f1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sec1_plants-cards .card-img img {
  width: 100%;
}

.sec1_plants-cards .card p {
  margin: 10px 0;
}

.sec1_plants-cards .card:hover {
  top: -10px;
}

.sec2 {
  min-height: 100vh;
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec2_part1 {
  padding: 0 20px 0 0;
}

.sec2_part1 h2 {
  font-size: 2.5em;
  font-weight: 700;
}

.sec2_part1 p {
  color: #00000080;
}

.sec2_part1-img {
  margin-top: 100px;
}

.sec2_part1-img img {
  width: 100%;
}

footer {
  padding: 0 5vw;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .bx {
  width: 100%;
  background: #F3F4F6;
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
}

footer .bx h2 {
  margin-bottom: 50px;
  font-size: 2.5em;
  font-weight: 700;
}

footer ul {
  padding: 10px;
  -webkit-box-shadow: 0 -3px 0 #f1f1f1;
          box-shadow: 0 -3px 0 #f1f1f1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul li h3 {
  margin: 10px 0;
  color: #156963;
  text-transform: uppercase;
}

footer ul li h4 {
  margin: 5px 0;
}

footer ul li a {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #00000080;
}

footer ul li input {
  margin: 10px 0;
  padding: 5px;
  -webkit-box-shadow: 0 0 0 1.5px #156963;
          box-shadow: 0 0 0 1.5px #156963;
}

@media (max-width: 1024px) {
  nav h3, nav h4 {
    color: #fff !important;
  }
  nav.bg li:not(:last-child) {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .head {
    padding: 0 5vw;
    background: url(../img/head-img.png) center/cover;
  }
  .head h2, .head h3, .head span h4, .head p {
    color: #fff;
  }
  .head_img-bx {
    display: none;
  }
  .head_text {
    padding-left: 0;
  }
  .head_text-btn {
    width: calc(100% + 5vw);
  }
  .sec1_plants-cards {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 758px) {
  nav li:nth-child(1), nav li:nth-child(2) {
    display: none;
  }
  .sec1-bx {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .sec1_plants-cards {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .sec1_plants-cards .card:nth-child(odd) {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  .sec2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sec2_part1 {
    padding: 0;
    width: 100%;
  }
  .sec2_part2 {
    display: none;
  }
  footer .bx {
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .bx h2 {
    font-size: 2em;
  }
  footer .bx img {
    width: 100%;
  }
  footer ul {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer ul li {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */